.gallery {
    background-color: $gallery-background;
    padding: 0.2rem 0rem;
  
  h3 {
    font-size: 2.375rem;
    color: $dark-shade;
    text-align: center;
    position: relative;
    padding-top: 5.8825rem;
    font-weight: 500;

    &::after{
    content: '';
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 0.21rem;
    background-color: $light-green-color;
    top: 1.5rem;
    left: -10rem;
    }
  }

  p {
    text-align: center;
    margin-top: 2.6rem;
    color: #90878e;
    font-size: 1.125rem;
  }

  &-img-grid{
    display: grid;
    margin: 3.483rem 2rem 7.125rem 3rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1.625rem;
    max-width: 75rem;
    position: relative;
    left: -0.438rem;

    li{
    max-width: 22.313rem;
    margin-right: 0.285rem;
    margin-bottom: 0.275rem;
    }
  }

  &-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.188rem;
    margin-left: 1.525rem;

      .active-item {
    color:$gallery-anchor;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    padding: 0.5525rem 0.8925rem;
    background-color: $light-green-color;
    border-radius: 0.375rem;
    @include transition-ease;

    &:hover{
      color: $gallery-anchor-hover;
    background-color: $gallery-anchor-hover-b;
    }
  }

    li{ margin-right: 1.375rem; }

   a {
    font-size: 1rem;
    color: $dark-shade;
    letter-spacing: 0.04rem;
    background-color: $dark-white;
    padding: 0.5525rem 0.8925rem;
    border-radius: 0.375rem;
    @include transition-ease;

    &:hover{
      background-color: $dark-shade;
      color: $dark-white;
    }
    
  
  }

}
}


  

