.testimonial {
    background: linear-gradient(rgb(100, 156, 48), rgba(100, 156, 48, 0.78)), url('./img/testimonial.jpg') 0px;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

  h3{
    text-align: center;
    padding-top: 7.688rem;
    padding-bottom: 5.525rem;
    font-size: 2.295rem;
    font-weight: 500;
    color: $white-color;
    position: relative;

    &::after{
    content: '';
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 0.15rem;
    background-color: #c2daad;
    top: 1.6rem;
    left: -9rem;
    }
  }

  p{
    font-size: 1.125rem;
    color: $white-color;
    font-weight: 300;
    width: 75%;
    line-height: 1.8rem;
    margin: 0 auto;
    text-align: center;
  }

  .wrapper{

    p:nth-child(1)::before{
    content: '"';
    position: relative;
    font-size: 1.2rem;
    color: $white-color;   
    }

    p:nth-child(1)::after {
    content: '"';
    position: relative;
    font-size: 1.2rem;
    color: $white-color; 
    }

    p:nth-child(3) {
    margin-top: 1rem;
    position: relative;
    }
  }
}